<div id="page-room-wrapper">
	<h3>{{currentRoom.roomname}}</h3><hr>

	<div class="players">
		<h3>Top Scores</h3>
	  <div class="gamePlayer">
		  <table>
				<tr>
					<th>Player</th>
					<th>Score</th>
					<th>Status</th>
				</tr>
				<tr ng-repeat="user in currentRoom.users | orderBy: '-score' track by $index">
					<td>{{user.username}}</td>
					<td>{{user.score}}</td>
					<td>
						<div ng-show="!user.ready" class="not-ready">waiting</div>
		  			<div ng-show="user.ready" class="ready">READY!</div>
					</td>
				</tr>
			</table>
			
			
			
			
			
			<!--<ul>
		  	<li ng-repeat="user in currentRoom.users | orderBy: '-score'">
		  	<span ng-show="!user.ready" class="not-ready">X</span>
		  	<span ng-show="user.ready" class="ready">O</span>
		  	{{user.username}}  score {{user.score}}
		  	</li>
		  </ul>-->


		  <form ng-hide="currentRoom.roomname === 'Lobby'" name="newPlayer" ng-submit="addPlayer(newPlayer.username)">
		  	<input class="add-player" name="newPlayerUsername" type="text" ng-model="newPlayer.username" placeholder="username"/>
		  	<input type="submit" class="btn" value="Add Player"/>
		  </form>
		</div>
	</div>


	<!--<button class="startGame btn" ui-sref="homeState.game" ng-click="startGame()">Start Game</button>-->
	<button class="player-ready btn btn-primary" ng-click="playerReady()">Ready!</button>
	<br>
</div>